.header {
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}

.header-menu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-menu a {
  color: #141414;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-logo-color {
  color: #0038c8;
}

.header-menu-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu-items a {
  color: #141414;
  font-size: 1.12rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  display: block;
}

.header-menu-items a:hover {
  color: #0038c8;
}

@media (max-width: 1000px) {
  .header-menu {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header-menu-items a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
